* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
 .container {
  margin: 20px;
  border: 2px solid #555;
  display: flex;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.square {
  width: 6px; 
  height: 6px;
  background-color: #1d1d1d;
  margin: 2 px;
  box-shadow: 0 0 2px #000;
  transition: 3s ease;
}

.square:hover {
  transition-duration: 0s;
}